[submodule "alcorti-api"]
	path = alcorti-api
	url = https://github.com/Abdelouahed-SENANE/alcorti-api.git
[submodule "alcorti-ui"]
	path = alcorti-ui
	url = https://github.com/Abdelouahed-SENANE/alcorti-ui.git
